@import "../../styles/responsive.scss";

.users{

    height: 100vh;
    // background-color: rgba(128, 0, 128, 0.348);
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;

    @include md{
        // width: 260px;
        // overflow: hidden;
        // background-color: rgba(128, 0, 128, 0.348);

    }

    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        button{
            padding: 5px;
            cursor: pointer;
        }
    }

    .dataGrid{
        width: 100%;
        height: 100%;

        @include md{
            // background-color: rgba(255, 0, 0, 0.288);
        }
    }

}